:root {
    --color-texto-oscuro: #3E2723;
    --color-fondo: #FAF3E7;
    --color-borde: #161515;
    --color-acento: #B33A1E;
    --color-dorado: #D4A017;
    --color-texto-medio: #6D4C41;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--color-fondo);
   font-family: "Lato", sans-serif;
}


html{
    font-size: 16px;
}

#sobre_nosotros{
   padding: 10px;
   border: 3px solid #161515;
   margin: 20px;
   
}

 h2, h3 {
    font-size: 1em;
    color: #B33A1E;
}

h1, h2, h3 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
}

p, li, label {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

#boton{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #3E2723;
    border: 2px solid currentColor;
    background:  #D4A017;
   transition: background-color 0.5s ease, color 1s ease; 
}

#boton:hover{
    background-color: #B33A1E;  
    color: white;
}

header{
    color: #3E2723;
}

header h1{
    color: #B33A1E;
}

footer{
    color: #3E2723;
}

a{
    color: #B33A1E;
}

p, ul {
    color: #6D4C41;
}

header {
    position: sticky;
    top: 0; 
    background-color: #FAF3E7;
    padding: 20px;
}
   
a {
     color: #B33A1E;
    transition: color 0.3s ease;
}

a:hover {
    color: #D4A017;
}


/*aplicarle zoom a una foto*/
img {
    transition: transform 0.3s ease;
}
img:hover {
    transform: scale(1.05);  /* crece 5% */
}

input, textarea, select {
    border: 2px solid #ccc;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus, select:focus {
    border-color: #B33A1E;
    outline: none;
}

@keyframes aparecer{
    0% {opacity: 0; transform: translateY(-20px);}
    100% {opacity: 1; transform: (0);}
}

h1 {
    animation: aparecer 1s ease-out;
     animation-fill-mode: backwards;
}

header p {
    animation: aparecer 1s ease-out;
    animation-delay: 0.3s;
     animation-fill-mode: backwards;
}

nav {
    animation: aparecer 1s ease-out;
    animation-delay: 0.6s;
    animation-fill-mode: backwards;
}