:root {
    --color-texto-oscuro: #3E2723;
    --color-fondo: #FAF3E7;
    --color-borde: #161515;
    --color-acento: #B33A1E;
    --color-dorado: #D4A017;
    --color-texto-medio: #6D4C41;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--color-fondo);
   font-family: "Lato", sans-serif;
}


html{
    font-size: 16px;
}

#sobre_nosotros{
   padding: 10px;
   border: 3px solid var(--color-borde);
   margin: 20px;
   
}

 h2, h3 {
    font-size: 1em;
    color: var(--color-acento); 
}

h1, h2, h3 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
}

p, li, label {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

#boton{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: var(--color-fondo);
    border: 2px solid currentColor;
    background:  var(--color-acento);
   transition: background-color 0.5s ease, color 1s ease; 
}

#boton:hover{
    background-color: #B33A1E;  
    color: white;
}

header{
    color: #3E2723;
}

header h1{
    color: #B33A1E;
}

footer{
    color: #3E2723;
}

a{
    color: #B33A1E;
}

p, ul {
    color: #6D4C41;
}

header {
    position: sticky;
    top: 0; 
    background-color: #FAF3E7;
    padding: 20px;
}
   
a {
     color: #B33A1E;
    transition: color 0.3s ease;
}

a:hover {
    color: #D4A017;
}


/*aplicarle zoom a una foto*/
img {
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);  /* crece 5% */
}

input, textarea, select {
    border: 2px solid #ccc;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus, select:focus {
    border-color: #B33A1E;
    outline: none;
}

@keyframes aparecer{
    0% {opacity: 0; transform: translateY(-20px);}
    100% {opacity: 1; transform: (0);}
}

h1 {
    animation: aparecer 1s ease-out;
     animation-fill-mode: backwards;
}

header p {
    animation: aparecer 1s ease-out;
    animation-delay: 0.3s;
     animation-fill-mode: backwards;
}

nav {
    animation: aparecer 1s ease-out;
    animation-delay: 0.6s;
    animation-fill-mode: backwards;
}

nav ul {

    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/*.categorias-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.categoria{
   flex: 2;
  min-width: 200px; 
}*/

.categorias-menu{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.conteiner{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;    
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    min-width: 250px;
    gap: 15px;
}

.flex label{
    white-space: nowrap;
}

.sobrenos{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    align-items: center;
}

.sobrenos .titulo-sobreNos{
   grid-column: 1 / -1;
   text-align: center;
}

.sobrenos .imagen{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.redes_sociales ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
}

.selecion_multiple{
    display: flex;
    gap: 20px;
}

.grupo-select {   
    display: flex;
    align-items: center;
    gap: 5px;     
}

.marco{
    background-color:hsl(30, 20, 80);
    padding: 15px;
    border: 1px solid var(--color-dorado);
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.marco img {
    max-width: 100%;
    height: auto;
}

.marco .img_grande{
    grid-column: 1 / 3;    
}

.marco .img_normal{
    grid-column: 3 /4;    
}

.contenedorTarjetas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    border: 1px solid var(--color-dorado);
    padding: 15px;
}


.contenedorTarjetas img {
    max-width: 100%;
    height: auto;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.tarjeta p {
    font-family: "Lato", sans-serif;
    color: var(--color-acento);
    text-align: center;
}

.contenedorTarjetas  .buttones{
    max-width: 250px;
    align-items: center;
  
}

.contenedorTarjetas  .buttones{
    max-width: 250px;
    align-items: center;
  
}

.contenedorTarjetas  .buttones{
    max-width: 250px;
    align-items: center;  
}

@media (max-width: 900px) {
    .marco {
        grid-template-columns: repeat(2, 1fr);
    }
    .marco .img_grande {
        grid-column: auto;
    }
    .marco .img_normal {
        grid-column: auto;
    }

    .contenedorTarjetas {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 600px) {
    .marco {
        grid-template-columns: 1fr;
    }
    .marco .img_grande {
        grid-column: auto;
    }
    .marco .img_normal {
        grid-column: auto;
    }

    .sobrenos{
        grid-template-columns: 1fr;
    }

    .sobrenos .imagen{
        grid-column: auto;
        grid-row: auto;
    }

    .categorias-menu{
        grid-template-columns: 1fr;
    }

      .contenedorTarjetas {
        grid-template-columns: 1fr;
    }

}